.home-container {
  width: 100%;
}

.music-video {
  width: 100%;
  height: 500px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border: 1px solid black;
}

.music-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-section {
  text-align: center;
  margin-bottom: 30px;
}

.search-section h1 {
  font-size: 48px;
  margin-bottom: 40px;
}

.discover-button button {
  padding: 20px 40px;
  font-size: 18px;
  margin-bottom: 20px;
}

.search-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.featured-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.feature-header {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: center;
}

.featured-users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
}



.profile-slideshow {
  border: 1px solid black;
  height: 300px !important; /*Got rid of unnecesssary div competing for style changes*/
  text-align: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}



.profile-info {
  position: absolute;
  border-top: 1px solid black;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-info span {
  font-size: 24px;
}

.make-account {
  position: relative;
  margin-bottom: 40px;
  background: linear-gradient(135deg, lavender 50%, lightgray 50%);
  height: 300px;
  padding-top: 20px;
}

.make-account h1 {
  margin: 0 0 5px 20px;
  max-width: 680px;
  text-decoration: underline;
  word-wrap: break-word;
}

.make-account h2 {
  margin: 0 0 0 20px;
  color: grey;
}

.create-button-container {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.create-button-container button {
  padding: 40px 80px;
  font-size: 18px;
}

/* Media Queries */
@media (max-width: 900px) {
  .featured-users {
    grid-template-columns: 1fr;
  }
  
  .profile-box {
    height: 180px;
  }
  
  .make-account {
    text-align: center;
    padding: 20px;
  }
  
  .create-button-container {
    position: static;
    transform: none;
    margin-top: 20px;
  }
}