.Discover-container {
    display: flex;
  }
  
  .Discover-left-sidebar {
    width: 250px;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
  }
  
  .Discover-main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Discover-right-sidebar {
    width: 250px;
    padding-top: 50%;
    padding: 20px;
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
    height: 30vh;
  }
  
  .Discover-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;

  }
  
  .Discover-search h2 {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    margin: 0 10px;
  }
  
  .Discover-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
  }
  
  .Discover-box-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
  }
  
  .Discover-box {
    min-height: 100px ;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
  }
  
  .Discover-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .Discover-box-user {
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-top: 2px solid black;
  }
  
  .filter-item {
    margin-bottom: 10px;
  }
  
  .filter-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    text-align: left;
    cursor: pointer;
  }
  
  .sub-options {
    display: none;
    padding: 10px;
    background-color: #fff;
  }
  
  .filter-item.active .sub-options {
    display: block;
  }
  
  .sub-options label {
    display: block;
    margin-bottom: 5px;
  }
  
  .sub-options input[type="text"],
  .sub-options select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .event-list {
    list-style-type: none;
    padding: 0;
  }
  
  .event-list li {
    margin-bottom: 10px;
  }
  
  .attendees-count {
    font-size: 12px;
    color: #666;
  }

@media (max-width: 1024px) {
  .Discover-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .Discover-grid {
      grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .Discover-search {
      margin-left: 10%;
      margin-right: 10%;
  }
}
@media (max-width: 768px) {
  .Discover-right-sidebar {
    display: none;
  }
}