.featured-users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
    justify-items: center; /* Center items horizontally within their grid cells */
  }
  
  
  @media (max-width: 768px) {
    .featured-users {
      grid-template-columns: 1fr;
    }
  }

.profile-box {
    border: 1px solid black;
    width: 80%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
}

.profile-slideshow {
    border: 1px solid black;
    height: 100%;
    text-align: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
  .profile-slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.profile-info {
    position: absolute;
    border-top: 1px solid black;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 12px;
    display: flex;
    align-items: center;
}

.profile-info i {
    margin-right: 10px;
}

.profile-info span {
    font-size: 24px;
}

.make-account h1 {
    margin: 0 0 5px 20px;
    max-width: 100%;
    text-decoration: underline;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    padding-right: 20px;
  }