body, html, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 130px;
    padding: 1rem 0;
    margin: 0;
}

.navbar-container {
    width: 100%;
    max-width: 100%;
    padding: 0 2rem;
}

main {
    flex: 1;
    width: 100%;
    padding: 20px;
}

footer {
    width: 100%;
    padding: 1rem 0;
    margin-top: auto;
}